{% extends 'front_office/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <form id="league-select-form">
                <div class="mb-3">
                    <h3>Wybierz ligę:</h3>
                    <select id="league-select" class="form-select">
                        <option value="">Wybierz ligę</option>
                        {% for key, league in leagues %}
                            <option value="{{ key }}">{{ league }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="align-items-center" id="standings-container">

            </div>
        </div>
    </div>

    <script>
        document.getElementById("league-select").addEventListener("change", function(event) {
            event.preventDefault();
            const selectedValue = document.getElementById("league-select").value;

            if (selectedValue !== "") {
                fetch(`/api/leagues/${selectedValue}/standings`)
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById("standings-container").innerHTML = data.html;
                        console.log(data);
                    })
                    .catch(error => {
                        console.error("Wystąpił błąd:", error);
                        document.getElementById("standings-container").innerHTML = "<h2>Nie znaleziono rozgrywek</h2>";
                    });
            }
        });
    </script>
{% endblock %}
